* {
	/*text-align:center;*/
	background-color: #F4F7F8;
	font-family: 'Questrial', sans-serif;
}

.employeeBox {
	border: black 1px solid;
	max-width:20em;
	display:inline-block;
	height:10em;
	line-height: 2;
	margin:.5em;
	box-shadow: 1px 3px 3px;
}

.firstName, .lastName{
	font-family: 'Alfa Slab One', serif;
	margin-top:3em;
	font-size: 18px;

}

.deleteButton:before{
	font-size:20pt;
}

.editButton:before{
	font-size:20pt;
}
.employeeList {
	margin-top:4em;
}

.updateButton{
	display: none;
}

.submitChecklistButton{
	display: none;
}

.navMenu{
	display:inline-block;
	position: absolute;
	right:9%;
	top:72px;
	display:none;
	background: transparent;
}

#resourceMenu{
    background-color: #f9f9f9;
    min-width:10em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: relative;
    display: inline-block;
    padding:1em;
    line-height: 1.5;
}
/*
.trainingChecklist{
	display:none;
}*/

.checklistBox{
    text-align: left;
}

.I9{
    margin-bottom:5px;
}

#emailcontainer{
	display: none;
	height:28em;
	width: 25em;
	border: solid black 2px;
	border-radius: 5px;
	text-align:center;
	margin: 0 auto;
	margin-top:10em;

}
/*.traininglist {
	display: none;
}*/

body {
        margin-top: 8em;
        text-align: center;
        font-size: 14px;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    }
        
/* form styles*/

.form-style-5{
    max-width: 35em;
    padding: 2em 3em;
    background: #f4f7f8;
    margin: 2em auto;
    padding: 2em;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 form{
    border: none;
}

.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 textarea,
.form-style-5 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus {
    background: #d2d9dd;
}
.form-style-5 select{
    -webkit-appearance: menulist-button;
    height:2em;
}
.form-style-5 .number {
    background: #1abc9c;
    color: #fff;
    height: 10em;
    width: 10em;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

button {
    position: relative;
    display: block;
    padding: 4px 39px 4px 39px;
    color: black;
    margin: 0 auto;
    background: #659cf2;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 15em;
    border-radius:5px;
    border: 1px solid #2e4c7c;
    border-width: 1px 1px 3px;
    margin-bottom: 4em;
    cursor: pointer;
   
}

#blurb{
    width:80%;
    font-size:14pt;
    margin:0 auto;
    text-align: left;
}

.showChecklist{
	width:65%;
	cursor: pointer;
    background-color: #c6d8f2;
}


.head{
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	height:4.5em;
	float: right;
	font-size: 16px;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
	padding-right: 4em;
	margin-bottom:5em;
	background-color: #a2aec1;
	z-index: 9999;
	vertical-align: top;
}

.employeeBox{
	border:2px solid black;
	border-radius:5px;
	/*padding:1em;*/
	height:18em;
	width:20em;
	display:inline-block;
}

.employeeBox:hover{
	box-shadow: none;
}



.boat{
	background-color: transparent;
}

div.employeeList{
	height:16em;
}

button:hover{
	background-color: #c9dae0;
}

.formtoggle{
	float:right;
	top:0;
	width:10em;
	height:3em;
	display: inline-block;
	cursor: pointer;
    z-index: 1;
}

.resourceButton{
    display: inline-block;
    float:right;
    top:0;
    width:9em;
    height:3em;
    margin-right:3.5em;
    cursor: pointer;
    z-index: 1;
    background-color: #c6d8f2;
}

.resourceButton:hover{
    background-color: #c9dae0;
}

.formtoggle:hover{
	background-color: #a2aec1;
}

.head h2, .head h4{
	float:left;
	background-color: transparent;
}

.head h4{
	padding:2px;
}

.form-style-5 button:hover
{
    background: #a2aec1;
}

#sendemail {
	width:100%;
	margin-top:5em;
}
 i.sendMail:hover{
    cursor:pointer;
    font-size: 14pt;
 }

i.editButton:hover, i.deleteButton:hover{
    color: #2e4c7c;
}
textarea#content {
	height:169px;
	width:96%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#formWrapper{
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 4em;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: left;
}

#addEmployeeForm{
    text-align: left;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus, .closeEmail:hover, .closeEmail:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.closeEmail {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.trainingModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modalTrain {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 4em;
    border: 1px solid #888;
    width: 75%; /* Could be more or less, depending on screen size */
}

.deleteButton{
	font-size:24pt;
	padding-left:5em;
	cursor: pointer;
}

.updateButton{
	width:100%;
}

.editButton{
	padding-right:5em;
	cursor: pointer;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 780px) {
    body{
		display:inline-block;
        horizontal-align:0;
    }
    .resourceButton, .formtoggle{
        border-left:1px solid black;
        background-color: transparent;
        margin:0;
        padding:0;
        display:block;
        top:0;
       margin-right:.5em;
        font-size: 12pt;
    }

    .hideMobile{
        display:none;
    }

	}



